[Unit]
Description=Ansible notification Webhook container
After=docker.service

[Service]
Restart=always
WorkingDirectory=/opt/scalr-integrations/event-reporting-webhook
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=local.target
